.container-fluid .carousel-wrapper{
    @media all and (max-width:1024px){
        min-height: 365px;
    }
    @media all and (max-width:767px){
        min-height: 55vw;
    }
}

.carousel{
    li{
        list-style: none;
        margin: 3px;
        -ms-flex: 3;
        flex: 3;
        text-align: left;
        font-size: 1.3rem;
        color: #12679a;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    &.animate{
        animation: pulse 1s;
    }
}
 
     
 
