.carousel li {
  list-style: none;
  background: #26adee;
  margin: 3px;
  -ms-flex: 3;
  flex: 3;
  text-align: center; }
  .carousel li:first-child {
    margin-left: 0; }
  .carousel li:last-child {
    margin-right: 0; }

.carousel.animate {
  animation: pulse 1s; }

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 234px; }
  .controls button {
    margin: 3px; }
